:root {
  --color-primary: #94cfc0;
  --color-secondary: #788783;
  --color-white: #f5f5f5;
  --color-grey: #333;
  --spacing-xs: 5px;
  --spacing-s: 15px;
  --spacing-m: 30px;
  --spacing-l: 60px;
  --spacing-xl: 90px;
}
